<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RESTful API change</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <form action="submit" method = "POST">
        <label for="fname"> First Name: </label>
        <input type="text" name = "fname">


        <label for="lname"> Last Name: </label>
        <input type="text" name="lname">

        <button>Submit</button>
        <button method= "GET">Get All users</button>

    </form>
	<script src="index.js"></script>
  </body>
</html>